@charset "UTF-8";

/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-06-21 20:38:33
 * @version $Id$
 */
/*导航*/
.navigation{
	height: 50px;
	width: 100%;
}
.nav-txt-mobile {
	color: #82d9b4;
	font-size: 1.4em;
	line-height: 50px;
}
.nav-txt-mas {
	color: #64d2a3;
	font-weight: bold;
	font-size: 1.4em;
}
.nav-brand{
	margin-left: 10px;
}
.navbar-right>li>a {
	color: #999;
	background-color: #fff;
}
.nav-active {
	font-weight: bold;
}
.booking-signin {
	color: #82d9b4;
	margin: 0 28px;
}
.nav-button{
	margin: 15px;
	height: 30px;
	width: 30px;
	cursor:pointer
}
.menu-title{
	height: 50px;
	line-height: 50px;
    text-align: center;
	background-color:#fff;
	color: #6d6d6d;
	padding: 0 10px;
}
.menu-txt{
	font-size: 2em;
	color: #cbcbcb;
	text-align: left;
}

.menu-close {
	font-size: 2em;
	line-height: 50px;
	color: #cbcbcb;
	text-align: right;
}
.menu-title-mm{
	max-height: 50px;
}
.icon-bar-color {

	margin-top: 4px;
	background-color: #999;
	display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.navigation-nav a{
	text-decoration:none;
	color: #999;
	background-color: #fff;
	border-top: 1px solid  #ebebeb;
}
.navigation-nav{
		display: flex;
}
@media(max-width: 767px){
	.nav-panel{
		width: 90%;
		height: 100%;
		background-color: #fff;
		position: fixed;
        right: -1000px;
        top: 0;
        z-index: 3000;
	}
	.navigation-nav{
		margin: 0;
		display: block;
	}
	.booking-signin {
	color: #82d9b4;
	margin: 0;
}
}



/*主体*/
.content {
	margin-top: 60px;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.booking-step {
	padding: 0 30px 0 30px;
	margin-top: 30px;
	text-align: center;
	height: 60px;
	border-bottom: 1px solid #e2fced;
	border-top: 1px solid #e2fced;
	color: #cbcbcb;
	line-height: 60px;
	font-size: 20px;
	font-weight: bold;
}
.booking-title {
	word-break: keep-all;
	text-align: center;
	color: #9c9c9c;
	font-weight: 100;
	font-family: console;
	margin-bottom: 35px;
	margin-top: 35px;
}
.booking-step-active {
	color: #676767;
	line-height: 60px;
	font-size: 30px;
}
.booking-search {
	width: 100%;
	max-width: 330px;
	color: #9c9c9c;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}
.booking-search-title {
	text-align: left;
	font-size: 17px;
}
.booking-input-body {
	text-align: left;
	width: 100%;
}
.search-btn{
	width: 100%;
    border-radius: 0;
    color: #9c9c9c;
    display: flex;
    justify-content: space-between;
}
.search-caret{
	margin-top: 8px;
}
.booking-search ul{
	width: 100%;
}
.ctt-available{
	font-size: 2em;
	color: #676767;
}
.ctt-choose{
	font-size: 25px;
    color: #9c9c9c;
}
/*照片栏*/
.name{
	font-size: 14px;
	color: #3ab293;
}
.booking-picturebox{
	margin-top: 30px;
	width: 100%;
	margin-top: 10px;
}
.booking-information{
	padding:10px;
	background-color: #f2fdf7;
}
.information-title{
    text-align: left;
    color: #3ab293;
}
.information-body{
	width: 100%;
	text-align: left;

}
/*继续，返回按钮*/
.booking-continue {
	margin-top: 30px;
	width: 200px;
	border-radius: 0;
	border-color: #64d2a3;
	background-color: #64d2a3;
}
.continue-txt{
	width: 80%;
	margin: 0 auto;
	margin-top: 20px;
	color: #9c9c9c;
}
.back{
	margin-top: 20px;
}
.back-caret{
	font-size: 1.5em;
	color: #9c9c9c;
	font-weight: bold;
	margin-right: 5px;
}
.back-txt{
	
	font-size: 1em;
	color: #9c9c9c;
	font-weight: bold;
}
@media(max-width:767px) {
	.content {
		width: 100%;
		margin: 0;
		margin-top: 60px;
	}
	.booking-title {
		font-size: 20px;
	}
}
/*页足*/
.bottom {
	color: #fff;
	padding-top: 100px;
	text-align: center;
	height: 300px;
	width: 100%;
	background-color: #28ab8b;
	margin-top: 200px;	
}
.bottom-title {
	margin-bottom: 50px;
}



img{
	width: 100%;
	height: 100%;
}