@charset "UTF-8";



.content{
  }
/*导航*/
.navigation{
    height: 50px;
    width: 100%;
}
.nav-txt-mobile {
    color: #82d9b4;
    font-size: 1.4em;
    line-height: 50px;
}
.nav-txt-mas {
    color: #64d2a3;
    font-weight: bold;
    font-size: 1.4em;
}
.nav-brand{
    margin-left: 10px;
}
.navbar-right>li>a {
    color: #999;
    background-color: #fff;
}
.nav-active {
    font-weight: bold;
}
.booking-signin {
    color: #82d9b4;
    margin: 0 28px;
}
.nav-button{
    margin: 15px;
    height: 30px;
    width: 30px;
    cursor:pointer
}
.menu-title{
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color:#fff;
    color: #6d6d6d;
    padding: 0 10px;
}
.menu-txt{
    font-size: 2em;
    color: #cbcbcb;
    text-align: left;
}

.menu-close {
    font-size: 2em;
    line-height: 50px;
    color: #cbcbcb;
    text-align: right;
}
.menu-title-mm{
    max-height: 50px;
}
.icon-bar-color {

    margin-top: 4px;
    background-color: #999;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.navigation-nav a{
    text-decoration:none;
    color: #999;
    background-color: #fff;
    border-top: 1px solid  #ebebeb;
}
@media(max-width: 767px){
    .nav-panel{
        width: 90%;
        height: 100%;
        background-color: #fff;
        position: fixed;
        right: -1000px;
        top: 0;
        z-index: 3000;
    }
    .navigation-nav{
        margin: 0;
    }
    .booking-signin {
    color: #82d9b4;
    margin: 0;
}
}


/*--------------body-------------*/

/*--主题--*/

.pgbody-title {
   
   text-align: center;
   margin-left: auto;
   margin-top: auto;
   font-weight: 100;
   font-size: 20px;
   margin-top: 10%;
   height: 100%;
   color: #64d2a3;
}


/*--自适应缩放--*/

/*----PC---*/

@media (min-width: 768px) {
    .content h2{
    text-align: center;
    color: #6CD4A7;
    margin-top: 1%;
}
.pgbody{
    margin-top: 10%;
    height: 15%;
    width: 100%;
}
.pgbody-t{

    text-align: left;
    color: #6CD4A7;
    font-size:20px;
    font-weight: 100;
    width: 60%;
    margin-left: 20%;
}
.pgbody-m{
    text-align: left;
    color: gray;
    font-size:15px;
    width: 70%;
    margin-left: 20%;
    margin-top:2%; 

}

/*--页尾--*/
.bottom {
    color: #fff;
    padding-top: 50px;
    text-align: center;
    height: 30%;
    width: 100%;
    background-color: #28ab8b;
    position: absolute;
    margin-top: 10%;
}
.bottom-title {
    margin-bottom: 0px;
}
}

/*---手机端---*/
@media (max-width: 768px) {
    .content h2{
    text-align: center;
    color: gray;
    margin-top: 1%;

}
.pgbody{
    margin-top: 10%;
    height: 15%;
    width: 100%;
}
.pgbody-t{

    text-align: left;
    color: #6CD4A7;
    font-size:20px;
    font-weight: 100;
    width: 60%;
    margin-left: 10%;
}
.pgbody-m{
    text-align: left;
    color: gray;
    font-size:15px;
    width: 70%;
    margin-left: 10%;
    margin-top:2%; 

}

/*--页尾--*/
.bottom {
    color: #fff;
    padding-top: 50px;
    text-align: center;
    height: 25%;
    width: 100%;
    background-color: #28ab8b;
    position: absolute;
    margin-top: 10%;
}
.bottom-title {
    margin-bottom: 0px;
}
}








