.bottom {
color: #fff;
padding-top: 100px;
text-align: center;
height: 100%;
width: 100%;
background-color: #28ab8b;
margin-top: 200px;
}
.bottom-title {
margin-bottom: 50px;
}   

.navigation{
  height: 50px;
  width: 100%;
}
.nav-txt-mobile {
  color: #82d9b4;
  font-size: 1.4em;
  line-height: 50px;
}
.nav-txt-mas {
  color: #64d2a3;
  font-weight: bold;
  font-size: 1.4em;
}
.nav-brand{
  margin-left: 10px;
}
.navbar-right>li>a {
  color: #999;
  background-color: #fff;
}
.nav-active {
  font-weight: bold;
}
.booking-signin {
  color: #82d9b4;
  margin: 0 28px;
}
.nav-button{
  margin: 15px;
  height: 30px;
  width: 30px;
  cursor:pointer
}
.menu-title{
  height: 50px;
  line-height: 50px;
    text-align: center;
  background-color:#fff;
  color: #6d6d6d;
  padding: 0 10px;
}
.menu-txt{
  font-size: 2em;
  color: #cbcbcb;
  text-align: left;
}

.menu-close {
  font-size: 2em;
  line-height: 50px;
  color: #cbcbcb;
  text-align: right;
}
.menu-title-mm{
  max-height: 50px;
}
.icon-bar-color {

  margin-top: 4px;
  background-color: #999;
  display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.navigation-nav a{
  text-decoration:none;
  color: #999;
  background-color: #fff;
  border-top: 1px solid  #ebebeb;
}
@media(max-width: 767px){
  .nav-panel{
    width: 90%;
    height: 100%;
    background-color: #fff;
    position: fixed;
        right: -1000px;
        top: 0;
        z-index: 3000;
  }
  .navigation-nav{
    margin: 0;
  }
  .booking-signin {
  color: #82d9b4;
  margin: 0;
}
}


.forget{
	width: 100%;
	margin-top: 50px;
	text-align: center;
}
.forget-clues{
	width: 100%;
  margin: 0 auto;
	color: rgb(159, 159, 159);
	margin-bottom: 34px;
}
.forget-email,.forget-address, .forget-reset{
  width: 17em;
  margin: 0 auto;
}
.forget-address-input, .forget-address-button,
.forget-email-word{
  width: 100%;	
}
.forget-clues-word{
	font-size: 2em;
}
.forget-email{	
	color: rgb(159, 159, 159);
}
.forget-email-word, .forget-address-input{
	font-size: 10px;
}
.forget-email-word{
  text-align: left;
}
.forget-address-input{
	border-style: solid;
	border-width: 1px;
	border-color: rgb(240, 240, 240);
	margin-bottom: 30px;
}
.forget-address-button{
	background-color: rgb(100, 210, 163);
	color: #ffffff;
}
