body {
	margin: 0px;
	padding: 0px;
	text-align: justify;
	font-size: 14px;
	color: #303030;
}
p {
	font-size: 14px;
	line-height: 22.4px;
	color: #6c7279;
}
h1 {
	font-size: 65px;
	color: #2d3033;
}
h2 {
	font-size: 40px;
	color: #2d3033;
}
h3 {
	font-size: 28px;
	color: #2d3033;
	font-weight: 300;
}
h4 {
	font-size: 22px;
	color: #2d3033;
	font-weight: 400;
}
h5 {
	font-size: 14px;
	color: #2d3033;
	text-transform: uppercase;
	font-weight: 700;
}
.btn {
	background-color: #333;
	margin-top: 40px;
	color: #fff;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 1px;
	border-radius: 0px;
	padding: 3% 7%;
	display: inline-block;
	text-transform: uppercase;
}
.btn:hover, .btn:focus {
	background-color: #000;
	color: #fff;
}
.btn-large {
	padding: 15px 40px;
}
a {
	color: #e84545;
}
a:hover, a:focus {
	text-decoration: none;
	-moz-transition: background-color, color, 0.3s;
	-o-transition: background-color, color, 0.3s;
	-webkit-transition: background-color, color, 0.3s;
	transition: background-color, color, 0.3s;
}
body {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	color: #6c7279;
}
ul, ol {
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
}

.no-padding {
	padding: 0;
}
.no-gutter [class*=col-] {
	padding-right: 0;
	padding-left: 0;
}
.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}
#header {
	height: 100px;
	position: fixed;
	width: 100%;
	z-index: 999;
	margin-left: 0%;
	margin-right: 0%;
	background-color: #e8e9eb;
}
#header .header-content {
	margin: 0 auto;
	padding: 40px 0;
	width: 100%;
	-moz-transition: padding 0.3s;
	-o-transition: padding 0.3s;
	-webkit-transition: padding 0.3s;
	transition: padding 0.3s;
}
#header .logo {
	font-size: 35px;
	color: #29aa47;
	font-weight: 700;
	float: left;
	margin-left: 20px;
	font-family: sans-serif;
}

#header.fixed .header-content {
	border-bottom: 0;
	padding: 25px 0;
}
#header.fixed .nav-toggle {
	top: 18px;
}
.navigation.open {
	opacity: 0.9;
	visibility: visible;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
.navigation {
	float: right;
}
.navigation li {
	display: inline-block;
}
.navigation a {
	color: #5d6369;
	font-size: 15px;
	font-weight: 300;
	margin-left: 40px;
	letter-spacing: 2px;
	font-family: consoles;

}
.navigation a:hover, .navigation a.active {
	color: #bcbcbc;
}

.carousel {
	width: 100%;
	height: 600px;
	margin: auto;
}
.item, .active, .carousel-inner {
	height: 100%;
}
.carousel-caption {
	bottom: 40%;
	color: #fff;
	left: 15%;
	padding-bottom: 20px;
	padding-top: 20px;
	position: absolute;
	right: 15%;
	text-align: center;
	z-index: 10;
}
.carousel-caption h3 {
	font-family: "Open Sans", sans-serif;
	color: #2d3033;
	text-shadow: none;
	font-size: 31px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 5px;
}
.carousel-caption p {
	font-family: "Open Sans", sans-serif;
	color: #6c7279;
	text-shadow: none;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 2px;
}
.carousel-control.left {
	background: none;
}
.carousel-control.right {
	background: none;
}
.carousel-control {
	opacity: 1;
	text-shadow: none;
}
.testimonials {
	width: 100%;
	margin: auto;
	background-color: #29aa47;
	position: relative;
	text-align: center;
}
.testimonials blockquote {
	border: 0;
	margin: 0;
	padding: 100px 15%;
}
.testimonials h1 {
	color: #fff;
	font: 19px "Open Sans", sans-serif;
	font-weight: 300;
	letter-spacing: 1px;
}
.testimonials p {
	color: #fff;
	display: block;
	font-size: 11px;
	font-style: normal;
	letter-spacing: 2px;
	font-weight: 400;
	margin-top: 30px;
	text-transform: uppercase;
}
.work-detail {
	width: 94%;
	margin: auto;
}
.work-detail-margin {
	margin-top: 7%;
}
.detail-image img {
	width: 80%
}
.detail-contentbox {
	background-color: #f2f2f2;
	padding: 3%;
	width: 550px;
}
.detail-content h4 {
	font-size: 27px;
	line-height: 27px;
	letter-spacing: 1px;
	font-weight: 300;
}
.detail-content p {
	color: #6c7279;
	font-size: 13px;
	font-weight: 400;
	margin-top: 7%;
}
#booking-type{
	width: 100%;
}
.booking-head{
	width: 100%;
	font-size: 55px;
	margin-top: 5px;
	display: block;
	color: #07f33d;
}
.booking-mid{
	width: 100%;
	font-size: 26px;

	color: #24292e;
}

