.navigation{
  height: 50px;
  width: 100%;
}
.nav-txt-mobile {
  color: #82d9b4;
  font-size: 1.4em;
  line-height: 50px;
}
.nav-txt-mas {
  color: #64d2a3;
  font-weight: bold;
  font-size: 1.4em;
}
.nav-brand{
  margin-left: 10px;
}
.navbar-right>li>a {
  color: #999;
  background-color: #fff;
}
.nav-active {
  font-weight: bold;
}
.booking-signin {
  color: #82d9b4;
  margin: 0 35px;
}
.nav-button{
  margin: 20px;
  height: 30px;
  width: 30px;
  cursor:pointer
}
.menu-title{
  height: 50px;
  line-height: 50px;
    text-align: center;
  background-color:#fff;
  color: #6d6d6d;
  padding: 0 10px;
}
.menu-txt{
  font-size: 2em;
  color: #cbcbcb;
  text-align: left;
}

.menu-close {
  font-size: 2em;
  line-height: 50px;
  color: #cbcbcb;
  text-align: right;
}
.menu-title-mm{
  max-height: 50px;
}
.icon-bar-color {

  margin-top: 4px;
  background-color: #999;
  display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.navigation-nav>a{
  text-decoration:none;

}
@media(max-width: 767px){
  .nav-panel{
    width: 90%;
    position: fixed;
        right: -1000px;
        top: 0;
        z-index: 3000;
  }
  .navigation-nav{
    margin: 0;
  }
  .booking-signin {
  color: #82d9b4;
  margin: 0;
}
}
.sign{
  width: 100%;
  text-align: center;
}
.sign-title{
  font-size: 30px;
  color: rgb(153, 153, 153);
  margin-bottom: 1.5em;
}
.sign-content, .sign-direction, .sign-click, .sign-rule, .sign-rules{
  width: 271px;
  margin: 0 auto;
}
.sign-content{
  height: 72px;
}
.sign-content-word{
  height: 30px;
  padding-top: 17px;
  text-align: left;
  color: rgb(157, 157, 157);
}
.sign-content-input, .sign-content-input-control{
  width: 100%;
  height: 40px;
}
.sign-content-input-control{
  border-style: solid;
  border-width: 1px;
  border-color: rgb(240,240,240);
}
.sign-direction-button{
  width: 100%;
  margin: 20px 0 37px 0;
  border-radius:25px;
  background-color: rgb(61, 90, 148);
  border-style: solid;
  border-width: 0px;
}
.sign-click-button{
  width: 100%;
  background-color: rgb(100, 210, 163);
  border-style: solid;
  border-width: 0px;
}
.sign-rule, .sign-rules{
  font-size: 0.7em;
}

.bottom {
  color: #fff;
  padding-top: 50px;
  text-align: center;
  height: 30%;
  width: 100%;
  background-color: #28ab8b;
  margin-top: 200px;  
}
.bottom-title {
  margin-bottom: 50px;
}