@charset "UTF-8";

.content {
}

/*导航*/
.navigation{
	height: 50px;
	width: 100%;
}
.nav-txt-mobile {
	color: #82d9b4;
	font-size: 1.4em;
	line-height: 50px;
}
.nav-txt-mas {
	color: #64d2a3;
	font-weight: bold;
	font-size: 1.4em;
}
.nav-brand{
	margin-left: 10px;
}
.navbar-right>li>a {
	color: #999;
	background-color: #fff;
}
.nav-active {
	font-weight: bold;
}
.booking-signin {
	color: #82d9b4;
	margin: 0 28px;
}
.nav-button{
	margin: 15px;
	height: 30px;
	width: 30px;
	cursor:pointer
}
.menu-title{
	height: 50px;
	line-height: 50px;
    text-align: center;
	background-color:#fff;
	color: #6d6d6d;
	padding: 0 10px;
}
.menu-txt{
	font-size: 2em;
	color: #cbcbcb;
	text-align: left;
}

.menu-close {
	font-size: 2em;
	line-height: 50px;
	color: #cbcbcb;
	text-align: right;
}
.menu-title-mm{
	max-height: 50px;
}
.icon-bar-color {

	margin-top: 4px;
	background-color: #999;
	display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.navigation-nav a{
	text-decoration:none;
	color: #999;
	background-color: #fff;
	border-top: 1px solid  #ebebeb;
}
@media(max-width: 767px){
	.nav-panel{
		width: 90%;
		height: 100%;
		background-color: #fff;
		position: fixed;
        right: -1000px;
        top: 0;
        z-index: 3000;
	}
	.navigation-nav{
		margin: 0;
	}
	.booking-signin {
	color: #82d9b4;
	margin: 0;
}
}


/*--------------body-------------*/

/*--主题--*/

/*--自适应缩放--*/

/*--公共整合部分--*/

/*--文字--*/
.pgbodym-t {
	font-size: 15px;
	font-weight: 50;
	color: #82d9b4;
}
.pgbodym-m {
	font-weight: 100;
	font-size: 15px;
	color: gray;
}
/*--font图标--*/
.pgbodyfont {
		width: 20%;
		height: 100%;
		font-size: 3em;
		color: #28ab8b;
	}
/*----PC---*/
@media(min-width:768px) {

	/*--标题--*/
	.pgbody-title {
		width: 100%;
		height: 30%;
		margin-top: 10%;
		margin-bottom: 5%;
	}
	.pgbody-titlef {
		text-align: center;
		font-size: 30px;
		font-weight: lighter;
		width: 95%;
		color: #82d9b4;
		display: block;
	}
	.pgbody-titles {
		text-align: center;
		margin-left: auto;
		margin-top: auto;
		font-weight: 100;
		font-size: 20px;
		display: none;
		color: gray;
	}

	/*--主体内容--*/
	.pgct {
		display: flex;
		width: 100%;
		height: 25%;
		margin-top: 5%;
	}
	.pgbodyl {
		display: flex;
		width: 30%;
		height: 25%;
		margin-left: 25%;
	}
	.pgbodyf {
		display: flex;
		width: 30%;
		height: 25%;
	}
	/*--文字位置--*/
	.pgbodym {
	widows: 40%;
	height: 100%;
	margin-left: 3%;
    }

	/*--按钮--*/
	.pgbutton {
		width: 100%;
		height: 10%;
	}
	.button-bk {
		background-color: #28ab8b;
		color: white;
		border: none;
		height: 40px;
		width: 15%;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		font-family: console;
		font-weight: 50;
		margin-left: 40%;
		margin-top: 3%;
	}
}

/*----othertype---*/
@media(max-width:768px) and (min-width: 436px) {

	/*--标题--*/
	.pgbody-title {
		width: 100%;
		height: 30%;
		margin-top: 10%;
		margin-bottom: 5%;
	}
	.pgbody-titlef {
		text-align: center;
		font-size: 30px;
		font-weight: lighter;
		width: 95%;
		color: #82d9b4;
		display: block;
	}
	.pgbody-titles {
		text-align: center;
		margin-left: auto;
		margin-top: auto;
		font-weight: 100;
		font-size: 20px;
		display: none;
		color: gray;
	}

	/*--主体内容--*/
	.pgct {
		display: flex;
		width: 100%;
		height: 25%;
		margin-top: 5%;
	}
	.pgbodyl {
		display: flex;
		width: 30%;
		height: 25%;
		margin-left: 15%;
	}
	.pgbodyf {
		display: flex;
		width: 30%;
		height: 25%;
		margin-left: 5%;
	}
	/*--文字位置--*/
	.pgbodym {
	widows: 40%;
	height: 100%;
	margin-left: 20%;
    }
	
	/*--按钮--*/
	.pgbutton {
		width: 100%;
		height: 10%;
	}
	.button-bk {
		background-color: #28ab8b;
		color: white;
		border: none;
		height: 40px;
		width: 35%;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		font-family: console;
		font-weight: 50;
		margin-left: 30%;
		margin-top: 3%;
	}
}
/*--mobile--*/
@media(max-width:436px) {

	/*--标题--*/
	.pgbody {
		width: 100%;
	}
	.pgbody-titlef {
		text-align: center;
		font-weight: 100;
		font-size: 20px;
		color: #82d9b4;
		display: none;
	}
	.pgbody-titles {
		text-align: center;
		margin-left: auto;
		margin-top: auto;
		font-weight: 100;
		font-size: 20px;
		font-family: console;
		margin-left: 15%;
		display: block;
		color: gray;
	}

	/*--主体内容--*/
	.pgct {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		height: 25%;
		margin-top: 5%;
	}
	.pgbodyl {
		display: flex;
		width: 100%;
		height: 25%;
		margin-top: 3%;
	}
	.pgbodyf {
		display: flex;
		width: 100%;
		height: 25%;
		margin-top: 7%;
	}
	/*--文字位置--*/
	.pgbodym {
	widows: 40%;
	height: 100%;
    }


	/*--按钮--*/
	.pgbutton {
		width: 100%;
		height: 10%;
	}
	.button-bk {
		background-color: #28ab8b;
		color: white;
		border: none;
		height: 40px;
		width: 36%;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		font-family: console;
		font-weight: 50;
		margin-left: 30%;
		margin-top: 3%;
	}
}

/*--页尾--*/
.bottom {
	color: #fff;
	padding-top: 50px;
	text-align: center;
	height: 25%;
	width: 100%;
	background-color: #28ab8b;
	position: absolute;
	margin-top: 10%;
	float: bottom;
}
.bottom-title {
	margin-bottom: 0px;
}
}