@charset "UTF-8";



.content{
  
}
/*--页面头部--*/
.booking-nav {
	border-bottom: 1px solid #e2fced;
}
.booking-nav-button {
	border: 1px solid #fff;
}
.navbar-right>li>a {
	color: #999;
	background-color: #fff;
}
.nav-txt-mobile {
	color: #82d9b4;
}
.nav-txt-mas {
	color: #64d2a3;
	font-weight: bold;
}
.nav-active {
	font-weight: bold;
}
.icon-bar-color {
	background-color: #999;
}
.booking-signin {
	color: #64d2a3;
}

/*--------------body-------------*/

/*--主题--*/

.pgbody-title {
   
   text-align: center;
   margin-left: auto;
   margin-top: auto;
   font-weight: 100;
   font-size: 20px;
   
   color: #64d2a3;
}



/*--自适应缩放--*/

/*----PC---*/
@media (min-width: 768px){
.content{
	height: 1000px;
	width: 100%;
}
.pgbody-title-first{
	margin-top: 5%;
	width: 100%;
	font-weight: 100;
	font-family: console;
	color:#9c9c9c;
	text-align: center;
}

.pgbody img{
	float: left;
  margin-left: 0%;

   height: 220px;
   width: 120px;
}

/*--影评内容左右部分--*/
.pgbody-mdpartl{
	margin-top:2%; 
    margin-left: 10%;
    
	height: 40%;
	width: 40%;	

}
.pgbody-mdpartr{
	
	margin-top: 2%;
	margin-left:1%;
	height: 40%;
	width:40%;
}
.pgbody-mdpartm{
	float: left;
	margin-left: 20%;
	margin-right: 0px;
	width:
	width: 50%;
}
/*--文字--*/
.introduce{
	
	height: 220px;
	width: 200px;
	margin-left: -10px;	
	margin-right: 92px;

}
.introducet{
	
	height: 30px;
	width:200px ;
	font-weight: 15px;
	margin-left: 0%;
	margin-top:0;
	color: #64d2a3;
}
.introducemain{
	float: left;
	height: 160px;
	width:200px ;
	font-weight: 15px;
	margin-left: 0px;
	margin-right: 20%;
	margin-top:0;
	color: #9c9c9c;
	word-break: break-word;
}
/*--页尾--*/
.bottom {
	color: #fff;
	padding-top: 50px;
	text-align: center;
	height: 30%;
	width: 100%;
	background-color: #28ab8b;
	position: absolute;
	margin-top: 800px;
}
.bottom-title {
	margin-bottom: 0px;
}
}



/*------iphone6-----*/
@media(max-width: 436px){
.content{
	height: 1000px;
	width: 100%;
}
.pgbody-title-first{
	margin-top: 5%;
	
	font-weight: 100;
	font-family: console;
	color:#9c9c9c;
	text-align: center;
}
.pgbody-mdpartm{
	float: left;
	margin-left: 0%;
    width: 30%;
    height: 200px;
}

.booking-title {
		font-size: 20px;
}


/*--页尾--*/
.bottom {
	color: #fff;
	padding-top: 50px;
	text-align: center;
	height: 25%;
	width: 100%;
	background-color: #28ab8b;
	position: absolute;
	margin-top: 550%;
	float: bottom;
}
.bottom-title {
	margin-bottom: 0px;
}

}

/*---------大于ihone6的response-------*/

@media(min-width: 436px) and (max-width:500px ){
.content{
	height: 1000px;
	width: 100%;
}
.pgbody-title-first{
	margin-top: 5%;
	
	font-weight: 100;
	font-family: console;
	color:#9c9c9c;
	text-align: center;
}
.pgbody-mdpartm{
	float: left;
	margin-left: 0%;
    width: 160px;
    height: 200px;
}
 img{
  
  margin-left: 0%;
  height: 100%;
  width:130px;
}
.pgbody-mdpartl{
    margin-top:5%; 
    margin-left: 0%;
	height: 40%;
	width: 100%;

}
.pgbody-mdpartr{
	margin-top:5%; 
	margin-left: 0%;
	height: 40%;
	width:100%;
}

.introduce{
	
	height: 220px;
	width: 200px;
	margin-left: -5%;	
	margin-top: 2%;
	margin-right: 20%;

}
/*--影评左右内容--*/
.introducet{
	
	height: 30px;
	width:50% ;
	font-weight: 15px;
	margin-left: 5%;
	margin-top:0px;
	color: #64d2a3;
	text-align: left;
}
.introducemain{
	float: left;
	height: 80%;
	width:100% ;
	font-weight: 15px;
	margin-left: 5%;
	margin-right: 20%;
	margin-top:3%;
	color: #9c9c9c;
	word-break: break-word;
}

.booking-title {
		font-size: 20px;
}


/*--页尾--*/
.bottom {
	color: #fff;
	padding-top: 50px;
	text-align: center;
	height: 25%;
	width: 100%;
	background-color: #28ab8b;
	position: absolute;
	margin-top: 550%;
	float: bottom;
}
.bottom-title {
	margin-bottom: 0px;
}

}
/*-----------大于500px小于768px--------*/
@media(min-width: 500px) and (max-width:768px ){
.content{
	height: 1000px;
	width: 100%;
}
.pgbody-title-first{
	margin-top: 5%;
	
	font-weight: 100;
	font-family: console;
	color:#9c9c9c;
	text-align: center;
}
.pgbody-mdpartm{
	float: left;
	margin-left: 0%;
    width: 160px;
    height: 200px;
}
 img{
  
  margin-left: 0%;
  height: 100%;
  width:130px;
}
.pgbody-mdpartl{
    margin-top:5%; 
    margin-left: 0%;
	height: 40%;
	width: 100%;

}
.pgbody-mdpartr{
	margin-top:5%; 
	margin-left: 0%;
	height: 40%;
	width:100%;
}

.introduce{
	
	height: 220px;
	width: 200px;
	margin-left: -5%;	
	margin-top: 2%;
	margin-right: 20%;

}
/*--影评左右内容--*/
.introducet{
	
	height: 30px;
	width:50% ;
	font-weight: 15px;
	margin-left: 5%;
	margin-top:0px;
	color: #64d2a3;
	text-align: left;
}
.introducemain{
	float: left;
	height: 80%;
	width:100% ;
	font-weight: 15px;
	margin-left: 5%;
	margin-right: 20%;
	margin-top:3%;
	color: #9c9c9c;
	word-break: break-word;
}

.booking-title {
		font-size: 20px;
}


/*--页尾--*/
.bottom {
	color: #fff;
	padding-top: 50px;
	text-align: center;
	height: 25%;
	width: 100%;
	background-color: #28ab8b;
	position: absolute;
	margin-top: 550%;
	float: bottom;
}
.bottom-title {
	margin-bottom: 0px;
}

}



