@charset "UTF-8";

.content{
  
}
/*导航*/
.navigation {
	height: 50px;
	width: 100%;
}
.nav-txt-mobile {
	color: #82d9b4;
	font-size: 1.4em;
	line-height: 50px;
}
.nav-txt-mas {
	color: #64d2a3;
	font-weight: bold;
	font-size: 1.4em;
}
.nav-brand {
	margin-left: 10px;
}
.navbar-right>li>a {
	color: #999;
	background-color: #fff;
}
.nav-active {
	font-weight: bold;
}
.booking-signin {
	color: #82d9b4;
	margin: 0 28px;
}
.nav-button {
	margin: 15px;
	height: 30px;
	width: 30px;
	cursor: pointer
}
.menu-title {
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: #fff;
	color: #6d6d6d;
	padding: 0 10px;
}
.menu-txt {
	font-size: 2em;
	color: #cbcbcb;
	text-align: left;
}
.menu-close {
	font-size: 2em;
	line-height: 50px;
	color: #cbcbcb;
	text-align: right;
}
.menu-title-mm {
	max-height: 50px;
}
.icon-bar-color {
	margin-top: 4px;
	background-color: #999;
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
}
.navigation-nav a {
	text-decoration: none;
	color: #999;
	background-color: #fff;
	border-top: 1px solid  #ebebeb;
}
@media(max-width:767px) {
	.nav-panel {
		width: 90%;
		height: 100%;
		background-color: #fff;
		position: fixed;
		right: -1000px;
		top: 0;
		z-index: 3000;
	}
	.navigation-nav {
		margin: 0;
	}
	.booking-signin {
		color: #82d9b4;
		margin: 0;
	}
}
/*--------------body-------------*/





/*--自适应缩放--*/

/*----PC---*/
@media (min-width: 767px){
.content{
	height: 1000px;
	width: 100%;
}
/*--主题--*/
.pgbody-title-first{
	margin-top: 5%;
	width: 100%;
	font-weight: 100;
	font-family: console;
	color:#9c9c9c;
	text-align: center;
}
.pgbody-title {
   
   text-align: center;
   margin-left: auto;
   margin-top: auto;
   font-weight: 100;
   font-size: 20px;
 
   color: #64d2a3;
}

.pgbody img{
	float: left;
  margin-left: 0%;

   height: 220px;
   width: 170px;
}

/*--影评内容左右部分--*/
.pgbody-mdpartl{
	margin-top:2%; 
    margin-left: 6%;
    
	height: 50%;
	width: 40%;	

}
.pgbody-mdpartr{
	
	margin-top: 2%;
	margin-left:1%;
	height: 40%;
	width:40%;
}
.pgbody-mdpartm{
	float: left;
	margin-left: 20%;
	margin-right: 0px;
}
/*--文字--*/
.introduce{
	
	height: 220px;
	width: 200px；

}
.introducet{
	
	height: 30px;
	width:200px ;
	font-family: Arial;
	font-size: 20px;
	color: #64d2a3;
}
.introducemain{
	float: left;
	height: 160px;
	width:200px ;
	font-size: 15px;
	color: #9c9c9c;
	word-break: break-word;
}
/*--页尾--*/
.bottom {
	color: #fff;
	padding-top: 50px;
	text-align: center;
	height: 20%;
	width: 100%;
	background-color: #28ab8b;
	position: absolute;
	margin-top: 70%;
}
.bottom-title {
	margin-bottom: 0px;
}
}

@media (min-width: 986px){
.content{
	height: 1000px;
	width: 100%;
}
/*--主题--*/
.pgbody-title-first{
	margin-top: 5%;
	width: 100%;
	font-weight: 100;
	font-family: console;
	color:#9c9c9c;
	text-align: center;
}
.pgbody-title {
   
   text-align: center;
   margin-left: auto;
   margin-top: auto;
   font-weight: 100;
   font-size: 20px;
 
   color: #64d2a3;
}

.pgbody img{
	float: left;
  margin-left: 0%;

   height: 220px;
   width: 170px;
}

/*--影评内容左右部分--*/
.pgbody-mdpartl{
	margin-top:2%; 
    margin-left: 6%;
    
	height: 50%;
	width: 40%;	

}
.pgbody-mdpartr{
	
	margin-top: 2%;
	margin-left:1%;
	height: 40%;
	width:40%;
}
.pgbody-mdpartm{
	float: left;
	margin-left: 20%;
	margin-right: 0px;
}
/*--文字--*/
.introduce{
	
	height: 220px;
	width: 200px；

}
.introducet{
	
	height: 30px;
	width:200px ;
	font-family: Arial;
	font-size: 20px;
	color: #64d2a3;
}
.introducemain{
	float: left;
	height: 160px;
	width:200px ;
	font-size: 15px;
	color: #9c9c9c;
	word-break: break-word;
}
/*--页尾--*/
.bottom {
	color: #fff;
	padding-top: 50px;
	text-align: center;
	height: 25%;
	width: 100%;
	background-color: #28ab8b;
	position: absolute;
	margin-top: 5%;
}
.bottom-title {
	margin-bottom: 0px;
}
}


/*------小于395px-----*/
@media(max-width: 395px){
.content{
   height: 700px;
	width: 100%;
}
/*--主题--*/
.pgbody-title-first{
	margin-top: 5%;
	font-size: 20px;
	font-weight: 100;
	font-family: console;
	color:#9c9c9c;
	text-align: center;

}
.pgbody-title {
   
   text-align: center;
   margin-left: auto;
   margin-top: auto;
   font-weight: 200;

   font-size: 14px;

   
   color: #64d2a3;
}

.pgbody-mdpartm{
	float: left;
	margin-left: 0%;
    width: 30%;
    height: 100%;
}
img{
  
  margin-left: 15%;
  height: 100%;
  width:130px;
}
.pgbody-mdpartl{
    margin-top:10%; 
	height: 40%;
	width: 100%;

}
.pgbody-mdpartr{
	margin-top:20%; 
	height: 40%;
	width:100%;
}

.introduce{
	
	height: 220px;
	width: 200px;
	margin-top: 2%;
	margin-right: 20%;

}

/*--影评左右内容--*/
.introducet{
	
	height: 10%;
	width:50% ;
	font-weight: 15px;
	color: #64d2a3;
	text-align: left;
}
.introducemain{
	float: left;
	height: 100%;
	width:100% ;
	font-weight: 15px;
	color: #9c9c9c;
	word-break: break-word;
}



.booking-title {
		font-size: 20px;
}


/*--页尾--*/
.bottom {
	color: #fff;
	padding-top: 50px;
	text-align: center;
	height: 32%;
	width: 100%;
	background-color: #28ab8b;
	position: absolute;
	margin-top: 570%;
	float: bottom;
}
.bottom-title {
	margin-bottom: 0px;
}

}

/*---------大于ihone6的response-------*/

@media(min-width: 395px) and (max-width:500px ){
.content{
	height: 100%;
	width: 100%;
}
/*--主题--*/
.pgbody-title-first{
	margin-top: 5%;
	width: 70%;
	font-weight: 100;
	font-family: console;
	color:#9c9c9c;
	text-align: center;
	margin-left: 15%;
}
.pgbody-title {
   
   text-align: center;
   margin-left: auto;
   margin-top: auto;
   font-weight: 100;
   font-size: 20px;
 
   color: #64d2a3;
}

.pgbody-title {
   
   text-align: center;
   margin-left: auto;
   margin-top: auto;
   font-weight: 100;
   font-size: 20px;
 
   color: #64d2a3;
}


.pgbody-mdpartm{
	float: left;
	margin-left: 0%;
    width: 40%;
    height: 200px;
}
 img{
  
  margin-top: 3%;
  height: 100%;
  width:90%;
}
.pgbody-mdpartl{
    margin-top:5%; 
    margin-left: 0%;
	height: 40%;
	width: 100%;

}
.pgbody-mdpartr{
	margin-top:5%; 
	margin-left: 0%;
	height: 40%;
	width:100%;
}

.introduce{
	
	height: 100%;
	width: 200px;

}
/*--影评左右内容--*/
.introducet{
	
	height: 30px;
	width:50% ;
	font-weight: 15px;
	margin-left: 5%;
	color: #64d2a3;
	text-align: left;
}
.introducemain{
	float: left;
	height: 80%;
	width:100% ;
	font-weight: 15px;
	margin-left: 5%;
	color: #9c9c9c;
	word-break: break-word;
}

.booking-title {
		font-size: 20px;
}


/*--页尾--*/
.bottom {
	color: #fff;
	padding-top: 50px;
	text-align: center;
	height: 25%;
	width: 100%;
	background-color: #28ab8b;
	position: absolute;
	margin-top:350%;
	float: bottom;
}
.bottom-title {
	margin-bottom: 0px;
}

}
/*-----------大于500px小于768px--------*/
@media(min-width: 500px) and (max-width:768px ){
.content{
	height:100%;
	width: 100%;
}
.pgbody-title-first{
	margin-top: 5%;
	
	font-weight: 100;
	font-family: console;
	color:#9c9c9c;
	text-align: center;
}
.pgbody-title {
   
   text-align: center;
   margin-left: auto;
   margin-top: auto;
   font-weight: 100;
   font-size: 20px;
 
   color: #64d2a3;
}
.pgbody-mdpartm{
	float: left;
	margin-left: 0%;
    width: 160px;
    height: 200px;
}
 img{
  margin-top: 10%;
  height: 100%;
  width:100%;
}
.pgbody-mdpartl{
    margin-top:15%; 
    margin-left:5%;
	height: 40%;
	width: 100%;

}
.pgbody-mdpartr{
	margin-top:15%; 
	margin-left: 5%;
	height: 40%;
	width:100%;
}

.introduce{
	
	height: 220px;
	width: 200px;
	margin-top: 2%;
	margin-right: 20%;

}
/*--影评左右内容--*/
.introducet{
	
	height: 10%;
	width:50% ;
	font-weight: 15px;
	margin-left: 5%;
	color: #64d2a3;
	text-align: left;
}
.introducemain{
	float: left;
	height: 80%;
	width:100% ;
	font-weight: 15px;
	margin-left: 5%;
	color: #9c9c9c;
	word-break: break-word;
}

.booking-title {
		font-size: 20px;
}


/*--页尾--*/
.bottom {
	color: #fff;
	padding-top: 50px;
	text-align: center;
	height: 25%;
	width: 100%;
	background-color: #28ab8b;
	position: absolute;
	margin-top: 290%;
	float: bottom;
}
.bottom-title {
	margin-bottom: 0px;
}

}



