@charset "UTF-8";

/*导航*/
.navigation {
	height: 50px;
	width: 100%;
}
.nav-txt-mobile {
	color: #82d9b4;
	font-size: 1.4em;
	line-height: 50px;
}
.nav-txt-mas {
	color: #64d2a3;
	font-weight: bold;
	font-size: 1.4em;
}
.nav-brand {
	margin-left: 10px;
}
.navbar-right>li>a {
	color: #999;
	background-color: #fff;
}
.nav-active {
	font-weight: bold;
}
.booking-signin {
	color: #82d9b4;
	margin: 0 28px;
}
.nav-button {
	margin: 15px;
	height: 30px;
	width: 30px;
	cursor: pointer
}
.menu-title {
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: #fff;
	color: #6d6d6d;
	padding: 0 10px;
}
.menu-txt {
	font-size: 2em;
	color: #cbcbcb;
	text-align: left;
}
.menu-close {
	font-size: 2em;
	line-height: 50px;
	color: #cbcbcb;
	text-align: right;
}
.menu-title-mm {
	max-height: 50px;
}
.icon-bar-color {
	margin-top: 4px;
	background-color: #999;
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
}
.navigation-nav a {
	text-decoration: none;
	color: #999;
	background-color: #fff;
	border-top: 1px solid  #ebebeb;
}
@media(max-width:767px) {
	.nav-panel {
		width: 90%;
		height: 100%;
		background-color: #fff;
		position: fixed;
		right: -1000px;
		top: 0;
		z-index: 3000;
	}
	.navigation-nav {
		margin: 0;
	}
	.booking-signin {
		color: #82d9b4;
		margin: 0;
	}
}

/*--------------body-------------*/

/*--函数整合部分--*/
.content {
	width: 100%;
}
.pgbody-title-first {
	margin-top: 5%;
	font-family: console;
	color: #9c9c9c;
	text-align: center;
}
.pgbody-title {
	text-align: center;
	margin-left: auto;
	margin-top: auto;
	font-weight: 200;
	font-size: 20px;
	color: #64d2a3;
}
.pgbody img {
	float: left;
	margin-left: 0%;
	height: 220px;
	width: 170px;
}
.pgbody-mdpartm {
	float: left;
}
.introducet {
	font-family: Arial;
	color: #64d2a3;
}
.introducemain {
	float: left;
	font-size: 15px;
	color: #9c9c9c;
	word-break: break-word;
}
.bottom {
	color: #fff;
	padding-top: 50px;
	text-align: center;
	background-color: #28ab8b;
	position: absolute;
}
.bottom-title {
	margin-bottom: 0px;
}

/*--自适应缩放--*/

/*----PC---*/
@media (min-width:768px) and (max-width:985px) {
	.content {
		height: 1000px;
	}

	/*--主题--*/
	.pgbody-title-first {
		width: 100%;
		font-weight: 100;
	}

	/*--影评内容左右部分--*/
	.pgbody-mdpartl {
		margin-top: 2%;
		margin-left: 6%;
		height: 50%;
		width: 40%;
	}
	.pgbody-mdpartr {
		margin-top: 2%;
		margin-left: 1%;
		height: 40%;
		width: 40%;
	}
	.pgbody-mdpartm {
		margin-left: 20%;
	}

	/*--文字--*/
	.introduce {
		height: 220px;
		width: 200px；
	}
	.introducet {
		height: 30px;
		width: 200px;
		font-size: 20px;
	}
	.introducemain {
		height: 160px;
		width: 200px;
	}

	/*--页尾--*/
	.bottom {
		height: 25%;
		width: 100%;
		margin-top: 135%;
	}
}
@media (min-width:986px) {
	.content {
		height: 1000px;
	}

	/*--主题--*/
	.pgbody-title-first {
		width: 100%;
		font-weight: 100;
	}

	/*--影评内容左右部分--*/
	.pgbody-mdpartl {
		margin-top: 2%;
		margin-left: 6%;
		height: 50%;
		width: 40%;
	}
	.pgbody-mdpartr {
		margin-top: 2%;
		margin-left: 1%;
		height: 40%;
		width: 40%;
	}
	.pgbody-mdpartm {
		margin-left: 20%;
	}

	/*--文字--*/
	.introduce {
		height: 220px;
		width: 200px；
	}
	.introducet {
		height: 30px;
		width: 200px;
		font-size: 20px;
	}
	.introducemain {
		height: 160px;
		width: 200px;
	}

	/*--页尾--*/
	.bottom {
		height: 30%;
		width: 100%;
		margin-top: 15%;
	}
}

/*------小于395px-----*/
@media(max-width:395px) {
	.content {
		height: 700px;
	}

	/*--主题--*/
	.pgbody-title-first {
		font-size: 20px;
		font-weight: 100;
	}
	.pgbody-mdpartm {
		width: 30%;
		height: 100%;
	}
	img {
		margin-left: 15%;
		height: 100%;
		width: 130px;
	}
	.pgbody-mdpartl {
		margin-top: 10%;
		height: 40%;
		width: 100%;
	}
	.pgbody-mdpartr {
		margin-top: 20%;
		height: 40%;
		width: 100%;
	}
	.introduce {
		height: 220px;
		width: 200px;
		margin-top: 2%;
		margin-right: 20%;
	}

	/*--影评左右内容--*/
	.introducet {
		height: 10%;
		width: 50%;
		font-weight: 15px;
		text-align: left;
	}
	.introducemain {
		height: 100%;
		width: 100%;
	}
	.booking-title {
		font-size: 20px;
	}

	/*--页尾--*/
	.bottom {
		height: 32%;
		width: 100%;
		margin-top: 3300px;
		float: bottom;
	}
}

/*---------大于ihone6的response-------*/
@media(min-width:395px) and (max-width:500px) {
	.content {
		height: 100%;
	}

	/*--主题--*/
	.pgbody-title-first {
		width: 70%;
		font-weight: 100;
		margin-left: 15%;
	}
	.pgbody-mdpartm {
		width: 40%;
		height: 200px;
	}
	img {
		margin-top: 3%;
		height: 100%;
		width: 90%;
	}
	.pgbody-mdpartl {
		margin-top: 5%;
		margin-left: 0%;
		height: 40%;
		width: 100%;
	}
	.pgbody-mdpartr {
		margin-top: 5%;
		margin-left: 0%;
		height: 40%;
		width: 100%;
	}
	.introduce {
		height: 100%;
		width: 200px;
	}

	/*--影评左右内容--*/
	.introducet {
		height: 30px;
		width: 50%;
		font-weight: 15px;
		margin-left: 5%;
		text-align: left;
	}
	.introducemain {
		height: 80%;
		width: 100%;
		margin-left: 5%;
	}
	.booking-title {
		font-size: 20px;
	}

	/*--页尾--*/
	.bottom {
		height: 35%;
		width: 100%;
		margin-top: 2000px;
		float: bottom;
	}
}

/*-----------大于500px小于768px--------*/
@media(min-width:500px) and (max-width:767px) {
	.content {
		height: 100%;
	}
	.pgbody-title-first {
		font-weight: 100;
	}
	.pgbody-mdpartm {
		width: 160px;
		height: 200px;
	}
	img {
		margin-top: 10%;
		height: 100%;
		width: 100%;
	}
	.pgbody-mdpartl {
		margin-top: 15%;
		margin-left: 5%;
		height: 40%;
		width: 100%;
	}
	.pgbody-mdpartr {
		margin-top: 15%;
		margin-left: 5%;
		height: 40%;
		width: 100%;
	}
	.introduce {
		height: 220px;
		width: 200px;
		margin-top: 2%;
		margin-right: 20%;
	}

	/*--影评左右内容--*/
	.introducet {
		height: 10%;
		width: 50%;
		font-weight: 15px;
		margin-left: 5%;
		text-align: left;
	}
	.introducemain {
		height: 80%;
		width: 100%;
		margin-left: 5%;
	}
	.booking-title {
		font-size: 20px;
	}

	/*--页尾--*/
	.bottom {
		height: 35%;
		width: 100%;
		margin-top: 2800px;
		float: bottom;
	}
}